html {
  scroll-behavior: smooth;
}
body{
	background: rgb(22,23,25);
	
}
.boxx{
	max-width: 380px;
	border-radius:  20px;
	background:  rgba(0,0,0,0.8);
	box-sizing: border-box;
	padding: 40px;
	color: #42d4f4;
	margin: 80px auto;
}

.boxx input[type=text],input[type=email],input[type=tel],input[type=password]{
	width: 100%;
	box-sizing: border-box;
	padding: 12px 5px;
	background:  rgba(0,0,0,0.10);
	outline: none;
	border: none;
	border-bottom: 1px dotted #fff;
	color: white;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
}

.boxx input[type=submit]{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0;
	margin-top: 30px;
	outline: none;
	border: none;
	background: #42d4f4;
	border-radius: 20px;
	font-size: 20px;
	color: white;
}
.boxx p {
	font-size: 15px;
}
.help-block {
	font-size: 15px;
}
.talk{
	text-align:center;
	color: white
	max-width: 380px;
	border-radius:  20px;
	background:  rgba(0,0,0,0.8);
	box-sizing: border-box;
	padding: 40px;
	color: #42d4f4;
	margin-top: 50px;
}